.how-it-works {
    max-width: 800px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right:auto;
    margin-top: 60px;
    padding: 10px;
    border: 1px solid rgb(33, 2, 154);
    border-radius: 9px;
    background-color: #f9f9f9;
    background: rgba(240, 3, 3, 0.2); /* blrr color effect */
    backdrop-filter: blur(10px); /* Blur effect */
  }